*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: linear-gradient(90deg , #8E0E00 ,#1F1C18);

}

ul {
    list-style: none;
    padding: 0;
}

.todo-app{
    width: 400px;
    height: 200%;
    margin: auto;
    padding-bottom: 20px;
    margin-top: 30px;
    background-color: rgb(32, 21, 21);
    border-radius: 15px;
    box-shadow: 0 0 5px rgb(0, 0, 0);
}

h1{
    text-align: center;
    padding: 12px;
    color: aliceblue;
}

.task-input{
    width: 90%;
    padding: 10px;
    border: none;
    margin-left: 15px;
    border-radius: 15px;
    box-shadow: 0 0 5px rgb(0, 0, 0);
    
}

.add-btn{
    margin: 14px 0 0 15px;
    border-radius: 15px;
    width: 80px;
    padding: 8px;
    border: none;
    background-color: rgb(173, 0, 0);
    color: aliceblue;
    cursor: pointer;
    font-weight: 500;
}

.clear-btn{
    margin: 15px 0 0 15px;
    border-radius: 15px;
    width: 90%;
    padding: 10px;
    border: none;
    background-color: rgb(173, 0, 0);
    color: aliceblue;
    cursor: pointer;
    font-weight: 500;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    width: 90%;
    margin: 11px 11px 11px 15px;
    background: #f1f1f1;
    border-radius: 15px;
    
}

.remove-btn {
    background-color:rgb(173, 0, 0);
    color: white;
    padding: 9px;
    font-size: 14px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-size: 12px;
    font-weight: 200;
}

